/* Tüm varsayılan boşlukları sıfırla */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML ve Body'nin tam ekran olmasını sağla */
html,
body,
#root {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}